.page_wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
}
.page_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  margin: 0 10%;
  align-items: start;
  width: 90%;
}

.accordion_container {
  display: flex;
  max-width: 250px;
  text-wrap: wrap;
  background-color: #c3dbe5;
  height: 380px;
  border-radius: 30px;
  padding: 20px;
}

.accordion {
}

.content_container {
  display: flex;
  height: 380px;
  width: 100%;
  max-width: 710px;
  background-color: #e6e6e6;
  box-shadow: inset 5px 5px 0 0 #54514b54;
  border-radius: 20px;
}

.content_wrapper {
  margin: 20px;
}
