.bookingcard_container {
  display: flex;
  width: 70%;
  max-height: 130px;
  max-width: 477px;
  background-color: white;
  border: 1px solid #a1a9b8;
  border-radius: 8px;
  justify-content: start;
  align-items: start;
}

.bc_col_info {
  display: flex;
  margin: 10px 0 10px 5%;
  width: 100%;
  max-width: 330px;
  flex-direction: column;
  color: #212a35;
}

.bc_info_name {
  display: flex;
  font-size: 16px;
  margin: 0;
}

.bc_info_topic {
  display: flex;
  font-size: 14px;
  margin: 5% 0 10% 0 o !important;
}

.bc_row_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  max-width: 200px;
}

.bc_info_item {
  display: flex;
  max-width: 95px;
}

.bc_info_icon {
  display: flex;
  max-width: 12px;
}

.bc_info_detail {
  display: flex;
  font-size: 12px;
  margin: 0 0 0 5px;
}

.bc_col_buttons {
  display: flex;
  margin: 10px 5% 10px 0;
  width: 70%;
  max-width: 90px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.bc_button_yes {
  background-color: #e7f4f8;
  color: #0c6683;
  border: none;
  border-radius: 6px;
  width: 90px;
  height: 45px;
  cursor: pointer;
}

.bc_button_yes:hover {
  background-color: #c4e4ee;
}

.bc_button_no {
  background-color: #ffe1da;
  color: #ab2204;
  border: none;
  border-radius: 6px;
  width: 90px;
  height: 45px;
  cursor: pointer;
}

.bc_button_no:hover {
  background-color: #ffbbac;
}
