.page_wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  align-items: center;
  justify-content: start;
}
.page_wrapper::-webkit-scrollbar {
  width: 0px;
  border-radius: 6px;
  background-color: transparent;
}
.page_wrapper::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #ececec;
}
.page_wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #ececec;
}

.page_container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 2%;
  margin: 0 5%;
  height: 100%;
}

.page_heading {
  display: flex;
  margin-top: 20px;
  margin-left: 5%;
  font-size: 22px;
  align-self: start;
  color: #212a35;
}
