.page_wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
}
.page_container {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 40px;
  align-items: start;
  margin: 0 10%;
}
