.page_wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}
.page_wrapper::-webkit-scrollbar {
  width: 0px;
  border-radius: 6px;
  background-color: transparent;
}
.page_wrapper::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #ececec;
}
.page_wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #ececec;
}
.page_container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: start;
  margin: 0 5%;
}
