.navbar_container {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.navbar_content {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
}

.navbar_logo {
  max-width: 120px;
  cursor: pointer;
}

.navbar_ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar_li {
  font-size: 15;
  font-weight: normal;
  color: #292d32;
  margin: 0 20px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: #4b6bdd;
    text-decoration: underline;
  }
}

.navbar_li.active {
  color: #4b6bdd;
}
