.page_container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}
.form_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: auto;
}

.form_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
  margin: 20%;
}
.form_input {
  width: 90%;
  height: 70%;
  padding: 5%;
  border-radius: 20px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}
.form_row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}
.form_button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  align-self: flex-end;
}
.banner_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0085a1;
  max-width: 600px;
  width: 100%;
  height: 100vh;
  margin: 0;
  border-radius: 15px 0 0 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
}

.banner_image {
  width: 80%;
  animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.form_message {
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
}

.form_success {
  color: green;
  background-color: lightgreen;
}

.form_error {
  font-size: 50%;
  font-weight: normal;
  width: 90%;
  border: 1px inset red;
  border-radius: 5px;
  padding: 3%;
  color: rgb(255, 0, 0);
  background-color: white;
  animation: form_error 2s ease-in-out infinite;
}

@keyframes form_error {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
