.user_tabs_body {
  display: flex;
  height: 23rem;
  width: 100%;
  color: #00343f;
  flex-direction: column;
  margin: 0;
}

.tab {
  height: 100%;
  width: 100%;
  color: #00343f;
}

.tab_ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.tab_li_wrapper {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 20px;
}
.tab_li {
  display: flex;
  cursor: pointer;
  color: #00343f;
}

.tab_li.selected {
  border-bottom: 2px solid red;
  color: red;
}

.panel_container {
  display: flex;
  height: 230px;
  width: 100%;
  justify-content: start;
  overflow-y: scroll;
  margin-left: 20px;
  flex-direction: column;
  gap: 10px;
}

.panel_container::-webkit-scrollbar {
  width: 6px;
  height: 1px;
  border-radius: 6px;
  background-color: transparent;
}
.panel_container::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #aed7e0;
}
.panel_container::-webkit-scrollbar-thumb:hover {
  background-color: #00343f;
}
