.ucourse {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin-top: 20px;
}
.ucourse_heading {
  color: #212a35;
  font-weight: 600;
  font-size: 20px;
}
.ucourse_row {
  display: flex;
  width: 90%;
  height: 100%;
  flex-wrap: wrap;
  gap: 10px 60px;
}

.ucourse_card {
  height: 300px;
  width: 300px;
}
