.coursecard_container {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 150px;
  background-color: white;
  color: black;
  border-radius: 20px;
  justify-content: start;
  align-items: start;
  gap: 3px;
  justify-content: start;
}
.coursecard_container:hover {
  cursor: pointer;
}

.coursecard_img_container {
  display: flex;
  background-color: #0085a1;
  border-radius: 10px 0 0 10px;
  width: 100px;
  height: 100px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.coursecard_img {
  width: 85%;
  object-fit: cover;
}
.coursecard_info_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: #0085a1;
}

.coursecard_info_name {
  margin: 20px 0 0 0 !important;
}

.coursecard_info_status {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.coursecard_status_img {
  display: flex;
  max-width: 20px;
}
